<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating Post</title>
</head>
<body>
    <h2> Edit YYour Post </h2>
    <p> Post Id : <%= post.id %> </p>
    <p> Post Username : <%= post.username %> </p>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <textarea name="content"><%= post.content %></textarea>
        <button type="submit">Update Post</button>
    </form>
</body>
</html>