<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post In Detail</title>
</head>
<body>
    <h2> Here Is Your Post In More Detail</h2>
      <div class="post">
         <h3 ><%= "Id : "+post.id %></h3>
         <h3 class="user"><%= "@" + post.username %></h3>
         <h4 class="content"><%=  post.content %></h4>
     </div>
</body>
</html>